<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="relative-container">
      <div class="container">
        <table class="table">
          <tr class="table-header__row">
            <th class="table-header__data">Name</th>
            <th class="table-header__data">Created</th>
            <th class="table-header__data">Category</th>
            <th class="table-header__data">Content</th>
            <th class="table-header__data">Deadline</th>
            <th class="table-header__data">
              <button type="button" class="archive-all">archive</button>
              <button type="button" class="delete-all">delete</button>
            </th>
          </tr>
        </table>
        <button type="button" class="open-modal">Add Todo</button>
        <table class="table-counter">
          <tr class="table-header__row">
            <th class="table-header__data">Note Category</th>
            <th class="table-header__data">Active</th>
            <th class="table-header__data">Archived</th>
          </tr>
        </table>
      </div>

      <!-- add todo modal  -->

      <div class="modal is-hidden">
        <div class="backdrop">
          <div class="modal__content">
            <form class="todo-form">
              <button type="button" class="close-modal">close</button>
              <select class="todo-form__select" name="category" id="category">
                <option value="Task">Task</option>
                <option value="Idea">Idea</option>
                <option value="Random Thought">Random Thought</option>
              </select>
              <label class="todo-form__label" for="name">Todo Name</label>
              <input name="name" class="todo-form__input" id="name" type="text" required />

              <label class="todo-form__label" for="deadline">Deadline</label>
              <input name="deadline" class="todo-form__input" id="deadline" type="text" />

              <label name="date" class="todo-form__label" for="content">Todo Content</label>
              <textarea
                class="todo-form__input"
                name="content"
                id="content"
                cols="30"
                rows="10"
                required
              ></textarea>
              <button class="submit" type="submit">Add ToDo</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
