:root {
  --title-background-color: #999;
  --title-color: #eee;
  --item-background-color: #8989a0;
  --item-color: #111;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.table {
  width: 100%;
}

.table-header__row {
  background-color: var(--title-background-color);
  color: var(--title-color);
}

.table-header__data {
  padding: 10px;
}

.todo {
  background-color: var(--item-background-color);
  color: var(--item-color);
}
.todo__field {
  overflow: hidden;
  padding: 10px;
}

.backdrop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

.todo-form {
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
}
.todo-form__input {
  max-width: 300px;
}
.todo-form__input:not(:last-child) {
  margin-bottom: 20px;
}
.todo-form__select {
  max-width: 300px;
  margin-bottom: 20px;
}
